---
layout: default
title: Donate
---

<div class="donation">
  You can donate by paying for <a href="https://thorbjorn.itch.io/source-of-tales/purchase">Source of Tales</a> on itch.io!
</div>


<h2>Donate for Source of Tales</h2>
<p>
Thanks for your interest in donating! Through your donations we're able to
 commission new art/code and reward contributors who have given freely in the past.
</p>


<h3>Donation Totals</h3>
<table id="totals">
  <tr><td>Total Paypal Donations:    </td><td>   27,00 <small>EUR</small></td></tr>
  <tr><td>Money spent on commissions:</td><td>  707,32
<small>EUR</small></td></tr>
  <tr><td>Current balance:           </td><td>  222,63
<small>EUR</small></td></tr>
</table>


<h3>Ledger</h3>
<p>Here is a public record of how your donations are being used!</p>
<table id="ledger">

  <tr>
    <th> Memo</th>
    <th> Date</th>
    <th> Diff</th>
    <th> Balance</th>
  </tr>
  <tr>
    <td>Paypal donation button added</td>
    <td> 2013/03/08</td>
    <td> null</td>
    <td> 0,00</td>
  </tr>
  <tr>
    <td>Donation</td>
    <td> 2013/03/08</td>
    <td> + 1,00</td>
    <td> 1,00</td>
  </tr>
  <tr>
    <td>Donation</td>
    <td> 2013/03/08</td>
    <td> + 1,00</td>
    <td> 2,00</td>
  </tr>
  <tr>
    <td>Paypal fee</td>
    <td> 2013/03/08</td>
    <td> - 0,37</td>
    <td> 1,63</td>
  </tr>
  <tr>
    <td>Donation</td>
    <td> 2013/03/08</td>
    <td> + 15,00</td>
    <td> 16,63</td>
  </tr>
  <tr>
    <td>Paypal fee</td>
    <td> 2013/03/08</td>
    <td> - 0,94</td>
    <td> 15,69</td>
  </tr>
  <tr>
    <td>LPC Prize</td>
    <td> 2013/03/12</td>
    <td>+ 1078,79</td>
    <td> 1094,48</td>
  </tr>
  <tr>
    <td>Donation</td>
    <td> 2013/07/10</td>
    <td> + 10,00</td>
    <td> 1104,48</td>
  </tr>
  <tr>
    <td>Expenses for Meetup at Ablu</td>
    <td> 2013/09/12</td>
    <td> - 125,00</td>
    <td> 979,48</td>
  </tr>
  <tr>
    <td>Traveling of jurkan</td>
    <td> 2013/09/12</td>
    <td> - 20,00</td>
    <td> 959,48</td>
  </tr>
  <tr>
    <td>Traveling of bjorn</td>
    <td> 2013/09/12</td>
    <td> - 32,50</td>
    <td> 926,98</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/07/01</td>
    <td> - 24,04</td>
    <td> 902,94</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/08/01</td>
    <td> - 24,54</td>
    <td> 878,40</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/09/01</td>
    <td> - 24,63</td>
    <td> 853,77</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/10/01</td>
    <td> - 25,34</td>
    <td> 828,43</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/11/01</td>
    <td> - 25,31</td>
    <td> 803,12</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2022/12/01</td>
    <td> - 23,08</td>
    <td> 780,04</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/01/01</td>
    <td> - 23,08</td>
    <td> 756,96</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/02/01</td>
    <td> - 23,33</td>
    <td> 733,63</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/03/01</td>
    <td> - 22,68</td>
    <td> 710,95</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/04/01</td>
    <td> - 22,68</td>
    <td> 688,27</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/05/01</td>
    <td> - 22,68</td>
    <td> 665,59</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/06/01</td>
    <td> - 22,75</td>
    <td> 642,84</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/07/01</td>
    <td> - 22,75</td>
    <td> 620,09</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/08/01</td>
    <td> - 22,88</td>
    <td> 597,21</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/09/01</td>
    <td> - 23,79</td>
    <td> 573,42</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/10/01</td>
    <td> - 23,79</td>
    <td> 549,63</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/11/01</td>
    <td> - 22,96</td>
    <td> 526,67</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2023/12/01</td>
    <td> - 22,96</td>
    <td> 503,71</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/01/01</td>
    <td> - 22,65</td>
    <td> 481,06</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/02/01</td>
    <td> - 23,00</td>
    <td> 458,06</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/03/01</td>
    <td> - 23,07</td>
    <td> 434,99</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/04/01</td>
    <td> - 23,29</td>
    <td> 411,70</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/05/01</td>
    <td> - 23,40</td>
    <td> 388,30</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/06/01</td>
    <td> - 23,38</td>
    <td> 364,92</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/07/01</td>
    <td> - 23,17</td>
    <td> 341,75</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/08/01</td>
    <td> - 23,17</td>
    <td> 318,58</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2024/12/01</td>
    <td> - 23,70</td>
    <td> 294,88</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2025/01/01</td>
    <td> - 24,03</td>
    <td> 270,85</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2025/02/01</td>
    <td> - 24,13</td>
    <td> 246,72</td>
  </tr>
  <tr>
    <td><a href="https://www.patreon.com/DeathsDarling/">Patreon Donation to enhance LPC art</a></td>
    <td> 2025/03/01</td>
    <td> - 24,09</td>
    <td> 222,63</td>
  </tr>
</table>
