---
layout: default
title: Screenshots
---

<h1>Screenshots</h1>
<div class="text-center">

{% for screenshot in site.categories.screenshots reversed %}

<a class="viewFullSS" href="{{ site.basepath }}/screenshots/{{ screenshot.title }}.png">
  <img src="{{ site.basepath }}/screenshots/{{ screenshot.title }}.png" width="444" height="250" alt="">

  {{ screenshot.content }}
</a>

{% endfor %}

</div>
