---
layout: default
title: Stellar
---

<h1>Tales on Stellar</h1>
<p>
What if you could play this game, and whatever you obtained as well as the character you created would be actually yours? Yours to keep even when this server goes down, yours when you decide to trade things outside of the game, and yours to play on alternative servers. This is what we would like to achieve, by using the <a href="https://www.stellar.org/">Stellar Network</a> for authentication and storing your character and its assets.
</p>

<h2>About Ownership</h2>

<p>
	Traditionally, an MMORPG server will keep player characters in a local database, which puts tight controls on what you can do with your character. Even if you could find workarounds to trade items or a character outside of the game, you may not even be allowed to do so. In this case, your character is entirely owned by the company running the server.
</p>
<p class="text-center">
  <img alt="Comparison between traditional database setup and a setup based on Stellar" src="tales-on-stellar-comparison.png" style="width: 80%;">
</p>
<p>
	Source of Tales currently works exactly the same way, with the only difference being that it is free software, but your character data is ultimately owned by whoever runs the server you play on. Using the Stellar Network, we can give the player ownership of their character and their in-game possessions. Based on this ownership, the character will be able to move between various trusted servers and the player can trade their in-game assets independently of the game. With the main database living on the Stellar network instead of at a private server, we also provide a layer of protection against data loss.
</p>

<h2>Stellar Community Fund</h2>

<p>
	To get this project started, we're applying to round #10 of the <a href="https://communityfund.stellar.org/">Stellar Community Fund</a>. We've asked for a budget of $7500, to fund part-time development of a prototype over a period of 6 months. This enables us to make steady progress while still giving room for other commitments, as well as providing opportunities for the Stellar community to provide feedback and support during the development.
</p>
<p>
	Overall, our goal is to develop a fun and accessible game and demonstrate how Stellar can help with player authentication, data ownership and trading value.
</p>

<h2>About Source of Tales</h2>

<p>
	The development of this game started back in 2012 and a mobile client was built in 2013. Since then the project has been mostly idle as were occupied with other projects. Currently there is unfortunately no server online, so check out some screenshots to get an impression of the game we're building:
</p>

<div class="text-center">

{% for screenshot in site.categories.screenshots reversed %}

<a class="viewFullSS" href="{{ site.basepath }}/screenshots/{{ screenshot.title }}.png">
  <img src="{{ site.basepath }}/screenshots/{{ screenshot.title }}.png" width="444" height="250" alt="">

  {{ screenshot.content }}
</a>

{% endfor %}

</div>

<h2>Porting to Stellar</h2>

<p>
	The current server is implemented in C++ and the mobile client is implemented in C++ with Qt. To make it easier to integrate with Stellar wallets, we'll first build a Tales on Stellar prototype in JavaScript. This will allow us to quickly get a server up based on NodeJS and the official <a href="https://stellar.github.io/js-stellar-sdk/">Stellar SDK</a>, as well as to get the game runnable in the browser using <a href="https://phaser.io/">Phaser</a>.
</p>

<p>
	Once we have a working prototype, we'll decide whether to adjust the existing C++ server and client, continue using JavaScript or to port it to another language like Rust.
</p>
