</div>

<footer>
  <div style="margin: 0px 15px;">
    <a href="https://endsoftwarepatents.org/innovating-without-patents">
    <img style="height: 15px;" src="https://static.fsf.org/nosvn/esp/logos/patent-free.svg"></a>
    <a href="http://www.gnu.org/licenses/gpl.html">
    <img src="{{ site.basepath }}/images/microbuttons/gpl.png" alt="GPL Project"></a>
    <a href="http://manasource.org">
    <img src="{{ site.basepath }}/images/microbuttons/manasource.png" alt="Manasource"></a>
    <a href="{{ site.basepath }}/rss.xml">
    <img src="{{ site.basepath }}/images/microbuttons/rss.png" alt="RSS feed"></a>
    <a href="{{ site.basepath }}/atom.xml">
    <img src="{{ site.basepath }}/images/microbuttons/atom.png" alt="Atom feed"></a>

    <p>&copy; 2012-2023 Source of Tales Team</p>
  </div>
</footer>
</div>
</body>
</html>
