<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>Source of Tales - {{ page.title }}</title>
 <link rel="stylesheet" href="{{ site.basepath }}/stylesheets/styles.css" type="text/css">
 <link rel="stylesheet" href="{{ site.basepath }}/stylesheets/pygment_trac.css" type="text/css">
 <link rel="icon" href="{{ site.basepath }}/images/icons/tales-icon-72.png" type="image/png">
 <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="News Feed (RSS)">
 <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="News Feed (Atom)">
 <script defer data-domain="sourceoftales.org" src="https://plausible.io/js/script.js"></script>
</head>
<body>
<div id="wrapper">
<header>
  <h1>Source of Tales</h1>
  <p>Participate in the creation of a new world.</p>
</header>

<nav>
  <a href="{{ site.basepath }}/index.html">Home</a> &middot;
  <a href="{{ site.basepath }}/news.html">News</a> &middot;
  <a href="{{ site.basepath }}/screenshots.html">Screenshots</a> &middot;
  <a href="{{ site.basepath }}/talesworld/">World Map</a> &middot;
  <a href="{{ site.basepath }}/development.html">Development</a> &middot;
  <a href="{{ site.basepath }}/donate.html">Donate</a>
</nav>

<div id="content">
