---
layout: default
title: Stellar Login
---

<script async src="https://unpkg.com/@albedo-link/intent/lib/albedo.intent.js"></script>

<h1>Stellar Login</h1>
<p>
    Here you can login to Source of Tales using a <a
    href="https://stellar.org/">Stellar</a> wallet, instead of using a username
    and password!
</p>
<center>
    <button id="login-albedo" onclick="handleTransaction()" disabled title="Missing Token">Log in with Albedo</button>
</center>
<p>
    Currently only <a href="https://albedo.link/">Albedo</a> is supported. In
    the future we hope to support additional wallets.
</p>

<script>
    const token = new URLSearchParams(window.location.search).get('token');

    // enable the button if a token is present
    if (token) {
        const loginAlbedo = document.getElementById('login-albedo');
        loginAlbedo.disabled = false;
        loginAlbedo.removeAttribute('title');
    }

    const handleTransaction = function() {
        albedo.publicKey({
            token: token,
        })
        .then(res => {
            console.log(res.pubkey, res.signed_message, res.signature)
            fetch('https://server.sourceoftales.org/stellarAuth', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(res)
            })
        })
        .catch(err => {
            console.log(err)
        })
    }
</script>
