@import url('http://fonts.googleapis.com/css?family=Quattrocento:700');
@import url('http://fonts.googleapis.com/css?family=Oxygen');

/* Clear */
* {
    margin: 0px;
    padding: 0px;
}


/* Body */
body {
    background-color: #EEEEEE;
    color: #000000;
}


/* Text styles */
h1 {
    font-family: Quattrocento, serif;
    font-size: 24pt;
    margin: 10px;
}

h2 {
    font-family: Quattrocento, serif;
    font-size: 18pt;
    margin: 10px;
}

h3 {
    font-family: Quattrocento, serif;
    font-size: 15pt;
    margin: 10px;
}

h4 {
    font-family: Quattrocento, serif;
    font-size: 12pt;
    margin: 10px;
}

p, ul {
    font-family: Oxygen, sans-serif;
    font-size: 11pt;
    margin: 12px;
    margin-bottom: 20px;
}

table {
    font-family: Oxygen, sans-serif;
    margin: 12px;
    margin-bottom: 20px;
}

li {
    list-style-position: inside;
}


/* Links */
a {
    color: #C7531A;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a.viewFullSS {
    display: inline-block;
    margin: 5px;
    text-align: center;
}


/* Wrapper */
div#wrapper {
    width: 96%;
    margin: 15px auto;
    max-width: 1000px;
    min-width: 500px;
}


/* Header */
header {
    width: 100%;
    height: 160px;
    background-color: #C17D11;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: default;
}

header h1 {
    padding: 36px 0px 0px 0px;
    font-size: 32pt;
}

header p {
    font-family: Quattrocento, serif;
    font-weight: bold;
    font-size: 13pt;
}


/* Navigation */
nav {
    background-color: #8f5902;
    padding: 10px;
    text-align: center;
    font-family: Quattrocento, serif;
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    text-decoration: underline;
}


/* Content */
div#content {
    background-color: #E0CDB0;
    padding: 20px;
}

div#content img {
    width: 95%;
    margin: 1em auto;
    display: block;
    border-radius: 10px;
}

div.donation {
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    float: right;
}

div.donation p {
    margin-bottom: 0px;
    font-weight: bold;
}

table#totals {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
}

table#totals td {
    border: none;
    padding: 0px 10px;
    text-align: right;
}

table#totals td + td {
    font-weight: bold;
}

table#ledger {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
}

table#ledger td {
    border: 1px solid #8f5902;
    padding: 2px 10px;
    text-align: right;
}

table#ledger td:first-of-type {
    text-align: left;
}


/* Footer */
footer {
    width: 100%; /* must be absolute due to padding */
    height: 40px;
    background-color: #E9B96E;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer img {
    margin: 12px 6px;
    float: left;
}

footer p {
    float: right;
    font-size: 11px;
    padding: 1px 0px;
    color: #3D2601;
}

button {
    background-color: #08b5e5;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px #000000;
    padding: 10px;
    margin: 10px;
    color: white;
}
button:hover {
    background-color: #00a1d6;
    cursor: pointer;
}
button:disabled {
    background-color: #999999;
    cursor: default;
}

#disqus_thread {
    margin: 20px 10px;
}

.text-center {
    text-align: center;
}
