{% include header.html %}

<h1>{{ page.title }}</h1>
{{ content }}
{% if page.author %}
<p><i>{{ page.author }}</i></p>
{% endif %}


<h3><a href="/news.html">Back to news</a></h3>

{% include disqus.html %}

{% include footer.html %}
